@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', 'Oswald', Arial, sans-serif;
}

a.active {
    color: #000;
    /* Tailwind blue-700 */
    font-weight: 700;
    transition: color 0.3s, font-weight 0.3s;
}